node_modules
dist
dist-file
.env
.git
.github
.husky
__test__
build
*.log
*.lock
.DS_Store
coverage
.target
tsconfig*.json
vite.config.ts
*.test.*
eslint.config.js
Dockerfile
docker-compose*
vercel.json
api/
ws_server/target/
src-tauri